*{
    margin: 0%;
    padding: 0%;
   
}

body{
    background-color: cornsilk;
    font-family: monospace;

}

nav{
    background-color: rgb(231, 227, 216);
    color: black;
    
    padding: 15px;
}



li, h1, ul{
    display: inline;

}
ul{
    margin-left: 60%;
    font-size: large;
}

li{
    cursor: pointer;
}

li:hover{
    color: rgb(123, 128, 126);
}

input{
    width: 60%;
    padding: 20px;
    margin: 30px;

}

.search{
    text-align: center;
}

.box{
    border-color: black;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    width: 220px;
}

.box:hover{
    background-color: brown;
    color: antiquewhite;
    cursor: pointer;
}

.products{
    text-align: center;
}

.about
{
    margin-top: 20px;
    text-align: center;
}

.contact{
    text-align: center;
    margin-top: 20px;
    background-color: bisque;
    color: rgb(59, 61, 61);
    padding-top: 2%;
    padding-bottom: 2%;
}